*{
    box-sizing: content-box;
    padding: 0;
    margin: 0;
}
p{
    margin: 0;
}
header{
    height: 75px;
    background-color: teal;
}
.headerDiv{
    height: 100%;
    padding: 0;
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 75px;
}
.footerDiv{
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: small;
}

html, body, #container {
    height: 100%;
    overflow: hidden;
    background-color: #EEEED2;
}
main {
    height: calc(100% - 75px);
}
/*
footer{
    height: 100px;
    background-color: teal;
}
*/
section{
    height: 100%;
    width: 100%;
}
.headerRow{
    height: 100%
}
.footerRow{
    background: teal;
    height: 120px;
}
.imgBox{
    width: 100%;
    height: calc(100% - 120px);;
    background: url(images/BGIMAGE.jpg) no-repeat;
    background-size: contain;
    background-position: center;
}
.imgContent{
    text-align: center;
    font-family: sans-serif;
    color: teal;
}
.viewClass{
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: content-box;
}
.workSection{
    background-color: white;
    overflow-y: auto;
    overflow-x: hidden;
}
.logo{
    width: 20%;
    height: 100%;
}
.nameClass{
    color: black;
    font-weight: bolder;
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    width: 50%;
    display: inline-block;
}
.tenureClass{
    font-weight: bolder;
    font-size: 16px;
}
.tenClass{
    text-align: right;
    font-size: 16px;
    top: 23px;
    color: black;
}
.firstDiv{
    width: 100%;
    height: 13%;
}
.fullHeight{
    height: 100%;
    padding-left: 0;
    padding-right: 0;
}
.projectHeader{
    border-radius: 8px;
    background-color: teal;
    color: white;
    font-weight: bold;
    padding-left: 1%;
    padding-top: 4px;
    height: 26px;
    font-size: 18px;
}
.boldClass{
    font-weight: bold;
}
.liMargin{
    margin-left: 2%;
}
.aboutSection{
    overflow-y: hidden;
}
.workContent{
    padding-top: 5px;
}
.tags {
  list-style: none;
  margin: 0;
  overflow: hidden; 
  padding: 0;
}

.tags li {
  float: left; 
}

.tag {
  background: teal;
  border-radius: 10px;
  color: white;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}
.sidePadding{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 12px;
}
.pdfIcon{
    background: url(images/adobe_icon.png) no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
}
.headIcon{
    color: white
}
.nameSize{
    font-size: large;
    padding-top: 8px;
}
.phoneIcon{
    background: url(images/phoneIcon.png) no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: sub;
    padding-left: 10px;
}
.mailIcon{
    background: url(images/mailIcon.png) no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: sub;
    padding-left: 10px;
}
.imageDisplay{
    display: inline-block;
    padding-left: 10px;
}
.githubIcon{
    background: url(images/githubIcon.png) no-repeat;
    width: 24px;
    height: 24px;
    display: inline-block;
    padding-left: 10px;
}
.linkedinIcon{
    background: url(images/linkedinIcon.png) no-repeat;
    width: 24px;
    height: 24px;
    display: inline-block;
    padding-left: 10px;
}

.fontStyle{
    font-weight: bold;
}
.secondDiv{
    padding-bottom: 12px;
}



@media only screen and (max-width: 650px) {
 .nameSize{
        font-size: small;
    }
    .footerDiv{
        font-size: smaller;
    }
    .imgContent{
        font-size: medium;
    }
}