*{
    box-sizing: content-box;
    padding: 0;
    margin: 0;
}
p{
    margin: 0;
}
header{
    height: 75px;
}
.headerDiv{
    height: 100%;
    padding: 0;
    color: teal;
    text-align: center;
    vertical-align: middle;
    line-height: 75px;
}

html, body, #container {
    height: 100%;
    overflow: hidden;
    background-color: #EEEED2;
}
main {
    height: calc(100% - 75px);
}
section{
    height: 100%;
    width: 100%;
}
.headerRow{
    height: 100%
}
.imgBox{
    width: 100%;
    height: 100%;
    background: url(images/BGIMAGE.jpg) no-repeat;
    background-size: contain;
    background-position: center;
}
.imgContent{
    text-align: center;
    font-family: sans-serif;
    color: teal;
}
.viewClass{
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: content-box;
}
.workSection{
    background-color: white;
    overflow-y: auto;
}
.logo{
    width: 20%;
    height: 100%;
}
.nameClass{
    color: #F64F19;
    font-weight: bolder;
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    width: 50%;
    display: inline-block;
}
.tenureClass{
    font-weight: bolder;
    font-size: 16px;
}
.tenClass{
    text-align: right;
    font-size: 16px;
    top: 23px;
    color: teal;
}
.firstDiv{
    width: 100%;
    height: 13%;
    padding-bottom: 10px;
}
.fullHeight{
    height: 100%;
    padding-left: 0;
    padding-right: 0;
}
.projectHeader{
    border-radius: 8px;
    background-color: teal;
    color: white;
    font-weight: bold;
    padding-left: 1%;
    padding-top: 4px;
    height: 26px;
    font-size: 18px;
}
.boldClass{
    font-weight: bold;
}
.liMargin{
    margin-left: 2%;
}
.aboutSection{
    overflow-y: hidden;
}
.workContent{
    padding-top: 5px;
}
.tags {
  list-style: none;
  margin: 0;
  overflow: hidden; 
  padding: 0;
}

.tags li {
  float: left; 
}

.tag {
  background: teal;
  border-radius: 10px;
  color: white;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}
.sidePadding{
    padding-left: 10px;
    padding-right: 10px;
}
.pdfIcon{
    background: url(images/adobe_icon.png) no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
}