<section class="workSection">
<div class="row firstDiv sidePadding">
    <p class="col-md-6 col-sm-6 col-xs-6 fullHeight">
        <img src="/portfolio/css/images/logo.png" class = "logo">
        <span class="nameClass" title="{{companyName}}">{{companyName}}</span>
    </p>
    <p class="col-md-6 col-sm-6 col-xs-6 tenClass fullHeight"><span class="tenureClass">Tenure:</span>August 2015 - Present</p>
</div>
<div class="sidePadding">
    <p>I work as Decision Scientist in Mu Sigma. At Mu Sigma, I learned and worked in a wide range of projects from designing tracking platform to desining end to end project management tool. Below you will find more details of the projects.
    </p>
    <p class="fontStyle">Here is my detailed resume<a class="pdfIcon" href="/portfolio/css/resume/Ankit_resume.pdf" target="_blank"></a></p>
</div>     
<div class="secondDiv sidePadding">
<p class="projectHeader">muDSC</p>
<p class="workContent">With ever increasing flow of information and data within the organization, there was a need for a structured framework 
to track analytical initiatives at a systemic level. The muDSC artifact helps understand the flow of decisions across the 
organization and helps consume analyses appropriately.</p>
<ul><span class="boldClass">Responsibilities</span>
    <li class="liMargin">End to end development of a product which ensures that the complete cycle of a problem from creation to 
consumption is mapped to ensure collaboration.</li>
    <li class="liMargin">Implemented graphical dashboards using D3.js to track and monitor metrics for each project that is underway.</li>
</ul>
<p>
    <label>Technology Used:</label>
    <ul class="tags">
        <li class="tag">HTML5</li>
        <li class="tag">CSS</li>
        <li class="tag">Node JS</li>
        <li class="tag">Express</li>
        <li class="tag">Javascript</li>
        <li class="tag">Angular JS</li>
        <li class="tag">MEAN Stack</li>
        <li class="tag">D3 js</li>
        <li class="tag">Bootstrap</li>
        <li class="tag">Mongo DB</li>
        <li class="tag">jQuery</li>
    </ul>
</p>    
</div> 
<div class="thirdDiv sidePadding">
<p class="projectHeader">Group management and User management</p>
<p class="workContent">Group  Management  in  the  AoPS  application  enables  creating  and  controlling  collaborative  environments  wherein 
multiple  users  can  work  and  share  their  projects. Only users belonging to a certain group/sets of groups have access to the information.
This ensures efficient project management and information security simultaneously, as the access rights of the users are 
defined</p>
    <ul><span class="boldClass">Responsibilities</span>
    <li class="liMargin">Designed the database structure to ensure the better performance for CRUD operation.</li>
    <li class="liMargin">End to End development of the different types of user with various levels of access rights.</li>
    <li class="liMargin">End to End development of group management which ensures creation of group, allocation of the user to group 
with various access rights.</li>
</ul>    
<p>
    <label>Technology Used:</label>
    <ul class="tags">
        <li class="tag">HTML5</li>
        <li class="tag">CSS</li>
        <li class="tag">Javascript</li>
        <li class="tag">Angular JS</li>
        <li class="tag">Node JS</li>
        <li class="tag">Express</li>
        <li class="tag">MEAN Stack</li>
        <li class="tag">D3 js</li>
        <li class="tag">Bootstrap</li>
        <li class="tag">Mongo DB</li>
        <li class="tag">RESTful web services</li>
    </ul>
</p>       
</div> 
<div class="fourthDiv sidePadding">
<p class="projectHeader">Web Analytics platform</p>
<p class="workContent">Implemented tracker for the application. It tracks the traffic of the application.</p>
    <ul><span class="boldClass">Responsibilities</span>
    <li class="liMargin">Researched on various web analytics platform that can help us to track all the movement on the application.</li>
    <li class="liMargin">Integrated PIWIK(open-source web analytics platform) in the tool. This helps in tracking all the user movement 
to understand the usage pattern for the application.</li>
    <li class="liMargin">Setup a LAMP server to store the information in our server.</li>
    <li class="liMargin">Added paid database(GeoIP2 Databases) to track the user location based on the IP.</li>    
</ul>
<p>
    <label>Technology Used:</label>
    <ul class="tags">
        <li class="tag">HTML5</li>
        <li class="tag">CSS</li>
        <li class="tag">Javascript</li>
        <li class="tag">LAMP Stack</li>
        <li class="tag">SQL</li>
        <li class="tag">Angulartics</li>
    </ul>
</p>    
</div>
<div class="footerRowWork">
            <div class="footerDiv nameSize">ANKIT KEJRIWAL</div>
            <div class="footerDiv">Mu Sigma Business Solutions Pvt. Ltd.,Ascendas- ITPL SEZ,ITPL,Whitefield,Bengaluru- 560066,Karnataka</div>
            <div class="footerDiv">
                <p class="imageDisplay"><span class="phoneIcon"></span>+91-8884215543</p>
                <p class="imageDisplay"><span class="mailIcon"></span>ankitkejriwaal@gmail.com</p>
            </div>
            <div class="footerDiv">
                <a href="https://github.com/ankit-kejriwal" target="_blank" class="githubIcon imageDisplay"></a>
                <a href="https://www.linkedin.com/in/ankit-kejriwal-241238a7" target="_blank" class="linkedinIcon imageDisplay"></a>
            </div>
</div>
</section>