
<section class="aboutSection">
    <div class="imgBox">
        <h1 class="imgContent">Hello, I'm <span class="nameEffect">Ankit Kejriwal</span>.</h1>
    <h3 class="imgContent">Web Developer by profession and a Coding enthusiast.</h3>    
    </div>
    <div class="footerRow">
            <div class="footerDiv nameSize">ANKIT KEJRIWAL</div>
            <div class="footerDiv">Mu Sigma Business Solutions Pvt. Ltd.,Ascendas- ITPL SEZ,ITPL,Whitefield,Bengaluru- 560066,Karnataka</div>
            <div class="footerDiv">
                <p class="imageDisplay"><span class="phoneIcon"></span>+91-8884215543</p>
                <p class="imageDisplay"><span class="mailIcon"></span>ankitkejriwaal@gmail.com</p>
            </div>
            <div class="footerDiv">
                <a href="https://github.com/ankit-kejriwal" target="_blank" class="githubIcon imageDisplay"></a>
                <a href="https://www.linkedin.com/in/ankit-kejriwal-241238a7" target="_blank" class="linkedinIcon imageDisplay"></a>
            </div>
    </div>
</section>